html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgba(39, 40, 42, 0.73);;
}

html, body, #root, main {
  height: 100%;
  margin: 0;
  background-color: rgb(39, 40, 42);
  font-family: 'Roboto', sans-serif;
}

.fill {
  height: 100%;
}

.scroll {
  overflow-y: auto;
}

/* Green sonar effect */
@keyframes green-sonar-effect {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
    box-shadow: 0 0 0 5px #4caf50, 0 0 10px 10px #4caf50, 0 0 0 10px #4caf50;
  }
  50% {
    box-shadow: 0 0 0 5px #4caf50, 0 0 10px 10px #4caf50, 0 0 0 10px #4caf50;
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Red sonar effect */
@keyframes red-sonar-effect {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.3;
    box-shadow: 0 0 0 5px #f44336, 0 0 10px 10px #f44336, 0 0 0 10px #f44336;
  }
  100% {
    box-shadow: 0 0 0 5px #f44336, 0 0 10px 10px #f44336, 0 0 0 10px #f44336;
    transform: scale(1.2);
    opacity: 0;
  }
}